*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{

background:#f4f7fb;
height:100vh;
overflow:hidden;

}

.dashboard{

display:grid;
grid-template-columns:250px 1fr 320px;
height:100vh;
gap:20px;
padding:20px;

}

/* LEFT */

.sidebar{

background:white;
padding:30px;
border-radius:20px;

}

.logo{

color:#2563eb;
margin-bottom:10px;

}

.sidebar p{

color:gray;
margin-bottom:40px;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

padding:15px;
margin-bottom:10px;
border-radius:12px;

}

.active{

background:#edf3ff;
color:#2563eb;

}

.red{

color:red;

}

/* CENTER */

.center{

display:flex;
flex-direction:column;

}

.search{

padding:18px;
border:none;
border-radius:15px;
margin-bottom:20px;
outline:none;
width:100%;

}

.chatCard{

background:white;
border-radius:20px;
padding:20px;
flex:1;
position:relative;

}

.botMessage{

background:#edf3ff;
padding:15px;
width:350px;
border-radius:15px;
margin-top:20px;

}

.inputBox{

position:absolute;
left:20px;
right:20px;
bottom:20px;
display:flex;

}

.inputBox input{

flex:1;
padding:15px;
border:1px solid #ddd;
border-radius:15px;

}

.inputBox button{

margin-left:10px;
width:60px;
border:none;
background:#2563eb;
color:white;
border-radius:15px;

}

/* RIGHT */

.right{

display:flex;
flex-direction:column;
gap:20px;

}

.card{

background:white;
padding:20px;
border-radius:20px;

}.logout{

position:absolute;
bottom:30px;
cursor:pointer;
color:#666;

}

.sidebar{

position:relative;

}
.userMessage{

background:#2f67ff;
color:white;
padding:15px;
border-radius:15px;

width:fit-content;

max-width:70%;

margin-left:auto;

margin-top:20px;
margin-bottom:20px;

}

.botMessage{

background:#edf3ff;

padding:15px;

border-radius:15px;

width:fit-content;

max-width:70%;

margin-top:20px;

}
.userMessage{

background:#2f67ff;
color:white;
padding:15px;
border-radius:15px;

width:fit-content;
max-width:70%;

margin-left:auto;

margin-top:15px;
margin-bottom:15px;

}

.botMessage{

background:#edf3ff;

padding:15px;

border-radius:15px;

width:fit-content;
max-width:70%;

margin-top:15px;
margin-bottom:15px;

}

#chatBox{

height:500px;

overflow-y:auto;

padding-bottom:80px;

}
#chatBox{
height:450px;
overflow-y:auto;
padding-bottom:20px;
}

.userMessage{

background:#2f67ff;
color:white;

padding:15px;

border-radius:15px;

margin-left:auto;

margin-top:15px;

width:fit-content;
max-width:70%;
}

.botMessage{

background:#edf3ff;

padding:15px;

border-radius:15px;

margin-top:15px;

width:fit-content;
max-width:70%;
}